#chart-wrapper {
    /* display: inline-block; */
    /* position: relative; */
    width: 65%;
}

img {
    display: inline-block;
    position: relative;
    width: 125px;
}

/* star code adapted from  https://www.foolishdeveloper.com/2022/01/5-star-rating-html-css.html*/

/* makes stars fill in correct order and puts it on left side of page */
.rating {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}

/* takes input bubble away */
.rating > input{
    display:none;
}

/* makes stars yellow */
.rating > label {
color: #FFD700;
}

/* makes star color fill in */
.rating > label::before{
content: "\2605";
position: absolute;
opacity: 0;
}

/* allows star color to fill when mouse hovers */
.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}

/* allows for star color to remain clicked */
.rating > input:checked ~ label:before{
opacity:1;
}

/* allows stars to unfill when mouse is not hovering */
.rating:hover > input:checked ~ label:before{ 
opacity: 0.4;
    }

.star {
    color: #FFD700;
}

/* navbar styling adapted from: https://www.w3schools.com/Css/css_navbar_horizontal.asp */

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
nav>ul>li {
    float: left;
}

.medialogo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* follow buttons */
    /* takes input bubble away */
.following-status > input[type=radio]{
    display:none;
    /* visibility: hidden; */
}


/* still figuring this out for webpage layout */
.center p{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; */
    /* border: 3px solid green; */
  }

