img {
    display: inline-block;
    position: relative;
    width: 125px;
}

a:hover {
    color: rgb(168, 165, 165);
}

.child {
    padding: 1%;
}

.row {
    padding: 0.25%;
}

/* star code adapted from  https://www.foolishdeveloper.com/2022/01/5-star-rating-html-css.html*/

/* makes stars fill in correct order and puts it on left side of page */
.rating {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}

/* takes input bubble away */
.rating > input{
    /* display:none; */
    opacity: 0;
    /* border: 0px; */
    width: 0.5%;
    /* height: 2em; */
}

/* makes stars yellow */
.rating > label {
color: #FFD700;
}

/* makes star color fill in */
.rating > label::before{
content: "\2605";
position: absolute;
opacity: 0;
}

/* allows star color to fill when mouse hovers */
.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}

/* allows for star color to remain clicked */
.rating > input:checked ~ label:before{
opacity:1;
}

/* allows stars to unfill when mouse is not hovering */
.rating:hover > input:checked ~ label:before{ 
opacity: 0.4;
    }

.star {
    color: #FFD700;
}


/* navbar styling adapted from: https://www.w3schools.com/Css/css_navbar_horizontal.asp */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    width: 100%;
    z-index : 10000
  }
  
nav>ul>li {
    float: left;
}

.medialogo {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li a:hover:not(.active) {
    background-color: #111;
    color: rgb(146, 108, 108);
}

nav>ul>li a:hover(.active) {
    background-color: #111;
    color: white;
}


.active {
    background-color: #94545c56;
    color: white;
}

.deleting> input[type=radio]{
    display:none;
}

.parent {
    min-height: 100vh;
  }

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 20px;
    align-items: center;
}

#media_info_img {
    size: 50%;
}

/* scroll code adapted from https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp */
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding: 2%;
  }
  
.scrollmenu > .col {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu > .col:hover {
    background-color: rgba(148, 84, 92, .3);
}

.media_card {
    background-color: rgba(51, 51, 51, 0.95);
    border-radius: 5px;
    width: 191px;
    height: 300px;
    display: inline-block;

}

.media_card_edit_lists {
    background-color: rgba(51, 51, 51, 0.95);
    border-radius: 5px;
    width: 191px;
    height: 350px;
    display: inline-block;

}

.media_title {
    color: white ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 32px;  
    min-height: 32px;  
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.profile_title {
    padding-top: 5%;
}


/* .media_rating {
    max-height: 20%;
} */

.media_poster_path > img {
  height: 187.5px;
  width: 125px;
}

body {
    background:url(/static/img/media_project_bg_1.jpeg) no-repeat center center fixed;
    background-size: cover;
    color: white ;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: "Times New Roman", Times, serif;
    /* font: "Neue Helvetica Light"; */

}

.modal-content {
    background-color: rgb(51, 51, 51, 0.95);
}

.list_title {
    color: white ;
}

.graphs {
    background-color: rgb(51, 51, 51, 0.95);
}

/* #genre-chart {
    background-color: rgb(51, 51, 51, 0.95);

}

#watch-history-chart {
    background-color: rgb(51, 51, 51, 0.95);
} */


.title {
    background-color: rgba(148, 84, 92, 0.5)
}

.friend {
    background-color: rgba(71, 50, 50, 0.9);
}


.child {
    background-color: rgb(118, 118, 118, .8);
    border-radius: 5px;
}

.container-flex {
    background-color: rgb(51, 51, 51, .7);
    min-height: 100vh;
}

#media_info_img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

#media_info_img_smaller{
    width: 26%;
    height: 26%;
    margin: 0 auto;
}

#modal_center{
    text-align: center;
}

.btn-primary{
    background-color: rgba(148, 84, 92, 0.5);
    border-color: rgba(148, 84, 92, 0.5);
}

.btn-primary:hover{
    background-color: rgba(148, 84, 92) !important;
    border-color: rgba(148, 84, 92, 0.5);
}

button {
    /* background-color: rgb(205, 203, 203); */
    background-color: rgba(148, 84, 92, 0.5);
    border-radius: 5px;
    border-color: rgba(148, 84, 92, 0.5);
    color: white;
}

button:hover{
    background-color: rgba(148, 84, 92) !important;
    border-color: rgba(148, 84, 92, 0.5);
}

.modal-body {
    text-align: left;
    display: block;
}

.blank-star {
    opacity: 0;
}

.filler-btn {
    height: 30px;
    width: 140.82px;
    opacity: 0;
}

.review_input {
    color: white ;
}

.rating_div {
    background-color: rgba(51, 51, 51, 0.9);
    padding: 0;
    margin: 0 auto;
}

.media_info_page {
    min-height: 83vh;
}

.overview {
    font-size: 25px;
    margin: auto;
}

.media_img_and_modals{
    margin: auto;
}

.media_rating{
    max-height: 24px;
    min-height: 24px;
}

.row_media_rating{
    margin: auto;
}

.media_rating_list {
    max-height: 57px;
    min-height: 57px;
}
