{% extends 'base.html' %}

{% block title %} All Media {% endblock %}

{% block body %} 

<nav>
    <ul>
        <li class="medialogo">MyViews</li>
        <li><a href="/">Home</a></li>
        <li><a href="/media-search-results-react">Search</a></li>
        <li><a href="/user-profile">Profile</a></li>
        <li><a href="/search-friends">Friends</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
</nav>

<h1> Showing Results for "{{ search_text }}": </h1>

    {% if (media_type == "movie") %}
        <div> 
            <ul>
                {% if results %}
                    {% for result in results%}
                    <li>
                        <a href="/media-info/movie/{{ result['id'] }}"> {{ result["original_title"] }}: </a><br>
                        <img src="https://image.tmdb.org/t/p/original{{ result['poster_path'] }}">
                    </li>    
                    {% endfor %}  
                {% else %}
                    <li>
                        Sorry, it seems we couldn't find the movie you were searching for. Try searching for it in tv shows. 
                    </li>   
                {% endif %}
            </ul>
        </div>

    {% elif (media_type == "show") %}
        <div> 
            <ul>
                {% if results %}
                    {% for result in results%}
                        <li>
                            <a href="/media-info/tvshow/{{ result['id'] }}"> {{ result["name"] }}: </a><br>
                            <img src="https://image.tmdb.org/t/p/original{{ result['poster_path'] }}">
                        </li>    
                    {% endfor %} 
                {% else %}
                    <li>
                        Sorry, it seems we couldn't find what you were searching for. Try searching for it in movies: 
                    </li>   
                {% endif %}  
            </ul>
        </div>

    {% endif %} 

{% endblock %}