{% extends 'base.html' %}

{% block title %} All Media {% endblock %}

{% block body %} 

<h1> Showing Results for "{{ search_text }}": </h1>

<div> 
    <ul>
        {% for result in results%}
            <li>
                <a href="/media-info/{{ result['id'] }}"> {{ result["original_title"] }}: </a>
                <p>- {{ result["overview"] }}</p>
                <img src="https://image.tmdb.org/t/p/original{{ result['poster_path'] }}">
            </li>    
        {% endfor %}   
    </ul>
</div>


{% endblock %}