{% extends 'base.html' %}
{% block title %} New User{% endblock %}

{% block body %} 

    <h1 >Create a user</h1>

    <form action="/register-user" method="POST">
        <p>
          Username <input type="text" name="username">
        </p>

        <p>
          Email <input type="text" name="email">
        </p>
    
        <p>
          Password <input type="password" name="password">
        </p>
    
        <p>
          <!-- <input type="submit"> -->
          <button type="submit">Create User</button>
        </p>
      </form>
      
{% endblock %}