{% extends 'base.html' %}
{% block title %} Welcome Page {% endblock %}

{% block body %} 

   

    <nav>
      <ul>
          <li class="medialogo">MyViews</li>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/media-search-results-react">Search</a></li>
          <li><a href="/user-profile">Profile</a></li>
          <li><a href="/search-friends">Friends</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="center">

      <h1 >Login</h1>

      <form action="/login" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
      
          <p>
            Password <input type="password" name="password">
          </p>
      
          <p>
            <!-- <input type="submit"> -->
            <button type="submit">Log In</button>
          </p>
        </form>

        <p>
          New? <a href="/create-user">Create a User</a> Or <a href="/search" >Browse as Guest</a>
        </p>
    </div>

      
{% endblock %}