{% extends 'base.html' %}

{% block title %} Editing Playlist Info {% endblock %}

{% block body %} 
   
<h2>Editing your playlist "{{ playlist.name }}":</h2>

<input type="hidden" id="playlist_id" value="{{ playlist.playlist_id }}">

<div class="row">
{% for media in playlist.medias %}
    <div class="col" id="playlist_media_div_{{ media.media_id }}">
        <a href="/media-info/{{ media.media_type }}/{{ media.TMDB_id }}" >{{ media.title }}</a>
        <img src="https://image.tmdb.org/t/p/original{{ media.poster_path }}">
        
        <!-- give option to remove from playlist-->
        <button type="button" class="deleting-from-playlist-btn" value="{{ media.media_id }}">Remove from playlist</button>
        <br>
    </div>
{% endfor %}
</div>

{% endblock %}

{% block js %}
    <script src="/static/js/individual_playlists.js"></script>
{% endblock %}