{% extends 'base.html' %}
{% block title %} Media Information{% endblock %}

{% block body %} 

    <h1>{{data["original_title"]}}</h1>
    <!-- <p>{{data}}</p> -->
    <p>{{data["overview"]}}</p>

    <form action="/media-info/{{ TMDB_id }}/rating" method="POST">

        <!-- star ratings uodated:  -->
        <div class="rating">
       
        <!-- score= 0 -->
        <input type="radio" name="score" value=5 id="5">
        <label for="5">☆</label>

        <!-- score= 1 -->
        <input type="radio" name="score" value=4 id="4">
        <label for="4">☆</label>

        <!-- score= 2 -->
        <input type="radio" name="score" value=3 id="3">
        <label for="3">☆</label>

        <!-- score= 3 -->
        <input type="radio" name="score" value=2 id="2">
        <label for="2">☆</label>

        <!-- score= 4 -->
        <input type="radio" name="score" value=1 id="1">
        <label for="1">☆</label>
        
        Have you seen this movie? Rating: 

        </div>
    
        <!-- comment -->
        Any comments? 
        <input type="text" name="comment" id="rating">

        <input type="submit">
    </form>


    <form action="/{{ TMDB_id }}/sort-folder" method="POST">
        Want to add this movie to your list?
        <!-- Watched List-->
        <input type="radio" name="list" value="watched" id="watched">
        <label for="watched">Watched List</label>

        <!-- To Be Watched List-->
        <input type="radio" name="list" value="to_be_watched" id="tobeewatched">
        <label for="tobeewatched">To Be Watched List</label>

        <input type="submit">
    </form>

    <div><a href="/user-profile" >Go Back to User Profile</a> or <a href="/search">Search for a different media</a></div>

    <img src="https://image.tmdb.org/t/p/original{{ data['poster_path'] }}">

      
{% endblock %}