{% extends 'base.html' %}
{% block title %} Media Information{% endblock %}

{% block body %} 

<nav>
    <ul>
        <li><a href="/">MyViews</a></li>
        <li><a href="/media-search-results-react">Search</a></li>
        <li><a href="/user-profile">Profile</a></li>
        <li><a href="/search-friends">Friends</a></li>
        <li><a href="/recommended">Your Recommended</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<div class="container-flex">


<div class="container">

    <br><br><br>

    <div class="title row text-center">
    {% if (media_type == "movie") %}

        <h1>{{data["original_title"]}}</h1>

    {% elif (media_type == "tv") %}
        <h1>{{data["name"]}}</h1>

    {% endif %}

    </div>

    <div class="overview row text-center">
        <p>{{data["overview"]}}</p>
    </div>

        {% if user %}

        <div class="row"> 

            <!-- <div class="column-6"> -->

                <img id="media_info_img" src="https://image.tmdb.org/t/p/original{{ data['poster_path'] }}" alt="No Poster Path Available">

            <!-- </div> -->
        </div>
            <br>
        <div id="modal_center"> 
            <!-- <div class="column-6"> -->
                <!-- Rating modal -->

                <!-- Code adapted from https://getbootstrap.com/docs/5.0/components/modal/ -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                    Rate
                </button>

        <!-- </div> -->

                <!-- Modal -->
                <div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add a Rating</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/media-info/{{ media_type }}/{{ TMDB_id }}/rating" method="POST">

                                <!-- star ratings updated:  -->
                                <div class="rating">
                            
                                <!-- score= 5 -->
                                <input type="radio" name="score" value=5 id="5" required>
                                <label for="5">☆</label>
                
                                <!-- score= 4 -->
                                <input type="radio" name="score" value=4 id="4">
                                <label for="4">☆</label>
                
                                <!-- score= 3 -->
                                <input type="radio" name="score" value=3 id="3">
                                <label for="3">☆</label>
                
                                <!-- score= 2 -->
                                <input type="radio" name="score" value=2 id="2">
                                <label for="2">☆</label>
                
                                <!-- score= 1 -->
                                <input type="radio" name="score" value=1 id="1">
                                <label for="1">☆</label>
                                
                                Have you seen this? Rate it: 
                
                                </div>
                            
                                <!-- comment -->
                                Any comments? 
                                <!-- <input type="text" name="comment" id="rating"> -->
                                <textarea rows="5" cols="45" name="comment" id="rating"></textarea>
                
                                <!-- time input to add to watch list -->
                                <label for="watch_time">Enter when you watched it: </label>
                                <input type="date" id="watch_time" name="watch_time">
                                </label>    
                        </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                <button type="submit" class="btn btn-primary">Add Review</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>

                
                <!-- Watched vs To Be Watched Modal-->

                <!-- Code adapted from https://getbootstrap.com/docs/5.0/components/modal/ -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2">
                    Add to List
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add this to your list</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/{{ media_type }}/{{ TMDB_id }}/sort-folder" method="POST">
                                <!-- time input to of adding to list-->
                                <input type="date" id="watch_time" name="watch_time">
                                <label for="watch_time"></label>
                                
                                <br>
                                
                                <!-- Watched List-->
                                <input type="radio" name="list" value="watched" id="watched" required>
                                <label for="watched"> Watched List </label>
                
                                <!-- To Be Watched List-->
                                <input type="radio" name="list" value="to_be_watched" id="tobeewatched">
                                <label for="tobeewatched">To Be Watched List</label>
                
                        </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                <button type="submit" class="btn btn-primary">Add to List</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>
            
                <!-- Playlist Modal -->
                <!-- Code adapted from https://getbootstrap.com/docs/5.0/components/modal/ -->

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3">
                    Add to Custom Playlist
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add this to your playlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/{{ media_type }}/{{ TMDB_id }}/add-to-playlist" method="POST">

                                <label for="playlists">Select Playlist:</label>
                                <select name="playlist" id="playlists" required="required">
                                    
                                    {% for playlist in user.playlists %}
                                        <option value="{{ playlist.playlist_id }}">{{ playlist.name }}</option>
                                    {% endfor %}
                    
                                </select>
                        </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                <button type="submit" class="btn btn-primary">Add to Playlist</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    </div>
            <!-- </div> -->

        </div>
        <br>

        <!-- display ratings for FRIENDS ONLY:  -->
        
        {% if all_ratings %} 
        <div>
            <div class="row">
                <div class="title">
                    <h1> Ratings: </h1>
                </div>
    
            {% for rating in all_ratings %}

            <!-- for user to view own rating -->
                    <div class="row rating_div" id="rating_div_{{ rating.rating_id}}">
                    <div>
                    {% if rating.user_id == user.user_id %}
                        <br>
                        <h2><a class="list_title" href="/user-profile">Your Rating:</a></h2>
                            {% if rating.score == 1 %}
                                <div class="star">★</div>
                            {% elif rating.score == 2 %}
                                <div class="star">★★</div>
                            {% elif rating.score == 3 %}
                                <div class="star">★★★</div>
                            {% elif rating.score == 4 %}
                                <div class="star">★★★★</div>
                            {% elif rating.score == 5 %}
                                <div class="star">★★★★★</div>
                            {% endif %}

                            {{ rating.review_input }}

                        <!-- give option to delete rating -->
                        <br> 
                            <button type="button" class="deleting-rating-btn" value="{{ rating.rating_id }}">Delete Rating</button>
                        </div>
                    {% endif %}
                    </div>

            <!-- for user to view friend's rating -->
                <div class="row">
                    {% for friend in user.following %}
                    <br>
                        {% if rating.user_id == friend.user_id %}
                        <div class="row rating_div">
                        <br><h2><a class="list_title" href="/display-friend/{{ rating.user.username }}">{{ rating.user.username }}:</a></h2>
                            {% if rating.score == 1 %}
                                <div class="star">★</div>
                            {% elif rating.score == 2 %}
                                <div class="star">★★</div>
                            {% elif rating.score == 3 %}
                                <div class="star">★★★</div>
                            {% elif rating.score == 4 %}
                                <div class="star">★★★★</div>
                            {% elif rating.score == 5 %}
                                <div class="star">★★★★★</div>
                            {% endif %}
                        <div class="review_input">{{ rating.review_input }}</div>
                        {% endif %} 
                        </div>
                    {% endfor %}
                    <br>
                </div>
            {% endfor %}
            </div>
        </div>
        <br><br><br><br>
        {% endif %}
        
        
        {% else %}
            <div class="row"> 

                <img id="media_info_img" src="https://image.tmdb.org/t/p/original{{ data['poster_path'] }}">

            </div>

        {% endif %}

</div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/media_information.js"></script>
{% endblock %}