{% extends 'base.html' %}
{% block title %} Recommended Media {% endblock %}

{% block body %} 

    <nav>
        <ul>
            <li class="medialogo">MyViews</li>
            <li><a href="/media-search-results-react">Search</a></li>
            <li><a href="/user-profile">Profile</a></li>
            <li><a href="/search-friends">Friends</a></li>
            <li><a class="active" href="/recommended">Your Recommended</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="row movie_recs">
        <div class="row title">
            <h1>Movie Recommendations:</h1>
        </div>
        
        <div class="scrollmenu">
        {% if movie_results %}
            {{ movie_results }}
            {% for movie in movie_results %}
            <div class="col media_card">
                <a class= "media_title" href="/media-info/movie/{{ movie['id'] }}"> {{ movie["original_title"] }} </a><br>
                <img src="https://image.tmdb.org/t/p/original{{ movie['poster_path'] }}">
                <br>
            </div>
            {% endfor %}
        
        {% else %}
            <p>Sorry, there are no movies in your recommended at the moment. Try adding more to your watched list.</p>
        {% endif %}
        </div>
    </div>


    <div class="row show_recs">
        <div class="row title"></div>
            <h1>Show Recommendations:</h1>
        </div>

        <div class="scrollmenu">
        {% if show_results %}
            {% for show in show_results %}
            <div class="col media_card">
                <a class= "media_title" href="/media-info/tv/{{ show['id'] }}"> {{ show["name"] }} </a><br>
                <img src="https://image.tmdb.org/t/p/original{{ show['poster_path'] }}">
                <br>
            </div>
            {% endfor %}
            
        {% else%}
            <p>Sorry, there are no shows in your recommended at the moment. Try adding more to your watched list.</p>
        {% endif %}
        </div>
    </div>

    <div class="row movie_trends">
        <div class="row title">
            <h1>Movies Trending Today:</h1>
        </div>

        <div class="scrollmenu">
            {% for movie in trending_movie_results %}
            <div class="col media_card">
                <a class= "media_title" href="/media-info/movie/{{ movie['id'] }}"> {{ movie["original_title"] }} </a><br>
                <img src="https://image.tmdb.org/t/p/original{{ movie['poster_path'] }}">
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row show_trends">

        <div class="row title">
            <h1>Shows Trending Today:</h1>
        </div>

        <div class="scrollmenu">
            {% for show in trending_show_results %}
            <div class="col media_card">
                <a class= "media_title" href="/media-info/tv/{{ show['id'] }}"> {{ show["name"] }} </a><br>
                <img src="https://image.tmdb.org/t/p/original{{ show['poster_path'] }}">
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}