{% extends 'base.html' %}
{% block title %} Recommended Media {% endblock %}

{% block body %} 

    <nav>
        <ul>
            <li class="medialogo">MyViews</li>
            <li><a href="/media-search-results-react">Search</a></li>
            <li><a href="/user-profile">Profile</a></li>
            <li><a href="/search-friends">Friends</a></li>
            <li><a class="active" href="/recommended">Your Recommended</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <h1>Movie Recommendations:</h1>
    {% if (movie_results !=None) %}
        {% for movie in movie_results %}
            <a href="/media-info/movie/{{ movie['id'] }}"> {{ movie["original_title"] }}: </a><br>
            <img src="https://image.tmdb.org/t/p/original{{ movie['poster_path'] }}">
            <br>
        {% endfor %}
    {% else %}
        <p>Sorry, there are no movies in your recommended at the moment. Try adding more to your watched list.</p>
    {% endif %}
    <br>

    <h1>Show Recommendations:</h1>
    {% if (show_results !=None) %}
        {% for show in show_results %}
            <a href="/media-info/tv/{{ show['id'] }}"> {{ show["name"] }}: </a><br>
            <img src="https://image.tmdb.org/t/p/original{{ show['poster_path'] }}">
            <br>
        {% endfor %}
    {% else%}
        <p>Sorry, there are no shows in your recommended at the moment. Try adding more to your watched list.</p>
    {% endif %}

    <h1>Movies Trending Today:</h1>
    {% for movie in trending_movie_results %}
        <a href="/media-info/movie/{{ movie['id'] }}"> {{ movie["original_title"] }}: </a><br>
        <img src="https://image.tmdb.org/t/p/original{{ movie['poster_path'] }}">
        <br>
    {% endfor %}

    <h1>Shows Trending Today:</h1>
    {% for show in trending_show_results %}
        <a href="/media-info/tv/{{ show['id'] }}"> {{ show["name"] }}: </a><br>
        <img src="https://image.tmdb.org/t/p/original{{ show['poster_path'] }}">
        <br>
    {% endfor %}
{% endblock %}