{% extends 'base.html' %}

{% block title %} All Media {% endblock %}

{% block body %} 

<nav>
  <ul>
      <li><a href="/">MyViews</a></li>
      <li><a class="active" href="/media-search-results-react">Search</a></li>
      <li><a href="/user-profile">Profile</a></li>
      <li><a href="/search-friends">Friends</a></li>
      <li><a href="/recommended">Recommended</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<h1> Search a movie or tv show by title using the search bar below</h1>

<form action="/media-search-results" method="POST">
    <input type="text" name="title" required="required">

    <input type="radio" name="media_type" value="movie" id="movie_button" required="required">
    <label for="movie_button">movie</label>

    <input type="radio" name="media_type" value="show" id="show_button" required="required">
    <label for="show_button">tv show</label>

    <button type="submit">Search</button>
  </form>


<!-- for REACT page -->
  <a href="/media-search-results-react">Search for things using REACT</a>

{% endblock %}

{% block js %}
    <script src="/static/js/all_media.jsx" type="text/jsx"></script>
{% endblock %}