{% extends 'base.html' %}

{% block title %} All Media {% endblock %}

{% block body %} 

<nav>
  <ul>
      <li class="medialogo">Media Page Name</li>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/search">Search</a></li>
      <li><a href="/user-profile">Profile</a></li>
      <li><a href="/search-friends">Friends</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<h1> Search a movie by title using the search bar below</h1>

<form action="/media-search-results" method="POST">
    <input type="text" name="title" required="required">

    <input type="radio" name="media_type" value="movie" id="movie_button" required="required">
    <label for="movie_button">movie</label>

    <input type="radio" name="media_type" value="show" id="show_button" required="required">
    <label for="show_button">tv show</label>

    <button type="submit">Search</button>
    <!-- <input type="submit"> -->
  </form>

{% endblock %}