{% extends 'base.html' %}

{% block title %} All Media {% endblock %}

{% block body %} 

<h1> Search a movie by title using the search bar below</h1>

<form action="/media-search-results" method="POST">
    <input type="text" name="title">

    <input type="radio" name="media_type" value="movie" id="movie_button">
    <label for="movie_button">movie</label>

    <input type="radio" name="media_type" value="show" id="show_button">
    <label for="show_button">tv show</label>

    <button type="submit">Search</button>
    <!-- <input type="submit"> -->
  </form>

{% endblock %}