{% extends 'base.html' %}
{% block title %} User Profile {% endblock %}

{% block head %}
    <!-- chart.js script tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 

{% endblock %}

{% block body %} 

    <nav>
        <ul>
            <li class="medialogo">Media Page Name</li>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a class="active" href="/user-profile">Profile</a></li>
            <li><a href="/search-friends">Friends</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col">
            <h1>hi {{ user.username }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="/user-profile/create-playlist" method="POST">
                <p>
                  Want to create your own folder? Type in the name: <input type="text" name="playlist_name">
                  <button type="submit">Create Playlist</button>
                </p>
            </form>

            <a href="/search" >Search for media</a> 

            <p>Or view your lists below:</p>
        </div>

        <div class="col offset-12">
        <!-- chart.js stuff -->
            <div id="chart-wrapper">
                <canvas id="test-chart"></canvas>
            </div>
        </div>
    </div>
    
        

    <div>
        <div class="row">
        <h2>Watched List:</h2>
        <!-- <ul> -->
        {% for media in user.watched_list %}
            <!-- <li> -->
                <div class="col">
                {{ media.title }}
                {% for rating in media.ratings %}
                    {% if rating.user_id == user.user_id %}
                        {% if rating.score == 1 %}
                            <div class="star">★</div>
                        {% elif rating.score == 2 %}
                            <div class="star">★★</div>
                        {% elif rating.score == 3 %}
                            <div class="star">★★★</div>
                        {% elif rating.score == 4 %}
                            <div class="star">★★★★</div>
                        {% elif rating.score == 5 %}
                            <div class="star">★★★★★</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <img src="https://image.tmdb.org/t/p/original{{ media.poster_path }}">
                </div>
            <!-- </li> -->
        {% endfor %}
        </div>
        <!-- </ul> -->
    </div>

    <div>
        <div class="row">
        <h2>To Be Watched List:</h2>
        <!-- <ul> -->
        {% for media in user.to_be_watched_list %}
            <!-- <li> -->
                <div class="col">
                {{ media.title }}
                {% for rating in media.ratings %}
                    {% if rating.user_id == user.user_id %}
                        {{ rating.score }}
                    {% endif %}
                {% endfor %}
                <img src="https://image.tmdb.org/t/p/original{{ media.poster_path }}">
                </div>
            <!-- </li> -->
        {% endfor %}
         </div>
        <!-- </ul> -->
    </div>

    <div>
        <div class="row">
        {% for playlist in user.playlists %}
            <h2>{{ playlist.name }}:</h2>
            {% for media in playlist.medias %}
                <div class="col">
                {{ media.title }}
                {% for rating in media.ratings %}
                    {% if rating.user_id == user.user_id %}
                        {{ rating.score }}
                    {% endif %}
                {% endfor %}
                <img src="https://image.tmdb.org/t/p/original{{ media.poster_path }}">
                </div>
            {% endfor %}
        {% endfor %}
         </div>
    </div>
      
{% endblock %}

{% block js %}
  <script src="/static/js/visuals.js"></script>
{% endblock %}